@font-face {font-family: "Liberation Sans";
    src: url("liberation-sans.eot");
    src: url("liberation-sans.eot?#iefix") format("embedded-opentype"),
    url("liberation-sans.woff2") format("woff2"),
    url("liberation-sans.woff") format("woff"),
    url("liberation-sans.ttf") format("truetype"),
    url("liberation-sans.svg#Liberation Sans") format("svg");
}

#vis, #vis1 {
    width: 500px;
    height: 300px;
    border: 1px solid black;
}

body {
    font-family: "Liberation Sans";
    font-size: 13px;
    font-weight: 400;
}

#vis .x-axis text {
    font-weight: 800;
}

#vis .y-axis text {
    fill: #999;
    font-size: 11px;
}


#vis .axis line {
    display: none;
}

#vis .axis .domain {
    display: none;
}

#vis .bars text {
    fill: #000;
}

#vis .axis line {
    fill: #ccc;
}

#vis .bars.bar-0 {
    fill: #999999;
}

#vis .bars.bar-1 {
    fill: #FF0000;
}

#vis .region rect {
    fill: #000000;
    fill-opacity: 0.07;
}

#vis .grid.y-axis, #vis .grid.x-axis {
    stroke: #d9d9d9;
    fill: none;
    shape-rendering: crispEdges;
}

#vis .grid.x-axis  {
    display: none;
}

#vis .date, #vis1 .date {
    font-style: italic;
    fill: #AAAAAA;
}

#vis .legend {
    font-weight: 800;
}

#vis .legend.block-1, #vis1 .custom.block-1, #vis1 .custom .woz .block-1 {
    fill: #FF0000;
}

#vis .legend.block-0, #vis1 .custom.block-0, #vis1 .custom .woz .block-0 {
    fill: #AAAAAA;
}

#vis1 .custom.woz.text {
    fill: #fff;
    font-size: 19px;
}

#vis1 .legend.text-0, #vis1 .legend.text-2 {
    fill: black;
    font-size: 15px;
}

#vis1 .donut.text-0, #vis1 .donut.text-2 {
    fill: white;
    font-size: 15px;
}

#vis1 .donut.text-1 {
    fill: black;
    font-size: 15px;
}

#vis1 .legend.text-1{
    font-size: 15px;
}

#vis1 .wozdesc {
    font-size: 15px;
}

#vis1 .legend {
    fill: black;
}

#vis1 .legend.block-0 {
    fill: #00A0E6;
}

#vis1 .legend.block-1 {
    fill: #CCCCCC;
}

#vis1 .legend.block-2 {
    fill: #666666;
}

#vis1 .custom.text {
    fill: #000;
}

#vis1 .custom.gem.text {
    font-weight: 800;
}

#vis .icona1 *, #vis .icona2 * {
    fill: #F00;
}

#vis .icona3 .cls-1 {
    fill: #f00;
}

#vis .icona3 .cls-2 {
    fill: #fff;
}

#vis1 .iconb1 .cls-1 {
    fill: #fff;
}

#vis1 .iconb1 .cls-2 {
    fill: none;
    stroke-width: 0.71px;
}

#vis1 .iconb1 .cls-2, #vis .iconb1 .cls-4 {
    stroke:#fff;
    stroke-miterlimit: 10;
}

#vis1 .iconb1 .cls-3, #vis .iconb1 .cls-4 {
    fill:#eb2227;
}

#vis1 .iconb1 .cls-4 {
    stroke-width: 0.5px;
}

#vis1 .iconb1 #_Path_2, #vis1 .iconb1 #_Path_ {
    fill: #f00;
    stroke: #fff;
    stroke-width: 0.5px;
}

#vis .frame {
    stroke: #d9d9d9;
}

#vis .axis line, #vis1 .axis path {
    stroke: #000;
    fill: none;
    shape-rendering: crispEdges;
}

